@model IEnumerable<CourceDto>
<form>
    <div class="container row">
        @foreach (var course in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-0 my-3 border rounded">
                    <div class="card">
                        <h3 class="card-title text-white-50 text-center py-2">@course.Name</h3>
                        <video controls muted autoplay>
                            <source src="@course.VideoURl" type="video/*" />
                        </video>
                        <div class="card-body">
                            <div class="d-flex justify-content-between py-2">
                                <span class="text-danger" style="font-size:20px;">@string.Format("{0:c}", course.Price)</span>
                                <span class="badge bg-warning text-white p-2">@course.CategoryName</span>
                            </div>
                            <p class="card-text">@Html.Raw(course.Description)</p>
                            <div class="row">
                                <div class="col">
                                    <a asp-action="ProductDetails" asp-route-productId="@course.CourceId"
                                       class="btn btn-success form-control">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
