@model IEnumerable<UniversityDto>
<form>
    <div class="container row">
        @foreach (var Univeristy in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="p-0 my-3 border rounded">
                    <div class="card">
                        <h3 class="card-title text-white-50 text-center py-2">@Univeristy.Name</h3>
                        <img src="@Univeristy.ImageUrl" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between py-2">
                                <span class="text-danger" style="font-size:20px;">@string.Format("{0:c}", Univeristy.Location)</span>
                                @* <span class="badge bg-warning text-white p-2">@product.CategoryName</span> *@
                            </div>
                            <p class="card-text">@Html.Raw(Univeristy.Description)</p>
                            <div class="row">
                                <div class="col">
                                    <a asp-action="MajorIndex" asp-route-id="@Univeristy.UniversityId"
                                       class="btn btn-success form-control">Choice University</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
