@model IEnumerable<MaterialDto>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Material List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="UpSet" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Material</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        ArbicName
                    </th>
                    <th>
                        Description
                    </th>

                    <th>
                        CountHours
                    </th>
                    <th>
                        Major
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.ArbicName

                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.CountHours
                        </td>
                
                        <td>
                            @item.MajorId
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.MaterialId" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="UpSet" asp-route-id="@item.MaterialId" class="btn btn-light">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>